node_modules
.DS_Store
npm-debug.log
.nyc_output
.serverless*
.bash_history
venv
vendor/bundle
.bundle
.idea/
.vscode
__pycache__
*.pyc
*.spec
docs/source/.vs
.home
*.swp
.github_token
dist
.cache
!.github/actions/dist
build
.built
.package-lock-hash
.emails
.offline-lock
.build_hash
.ssr_build_hash
buckets
packages/dynamodb/LICENSE.txt
packages/dynamodb/THIRD-PARTY-LICENSES.txt
packages/dynamodb/README.txt
packages/dynamodb/dynamodb.tar.gz
packages/dynamodb/third_party_licenses
packages/dynamodb/DynamoDBLocal.jar
packages/dynamodb/DynamoDBLocal_lib
packages/dynamodb/dynamodb-local-metadata.json
packages/dynamodb/shared-local-instance.db
packages/dynamodb/dynamodb.db
packages/dynamodb/resources/.hash
packages/monitoring-*
packages/region-*
docs/structurizr/.structurizr
email.eml
*.war
.aws-sam
template.expanded.yaml
