name: pr title check

concurrency:
  group: ${{ github.head_ref }}-pr-title-check
  cancel-in-progress: true

on:
  pull_request:
    types: [synchronize, opened, edited]
    branches:
      - main

jobs:
  check-title:
    if: ${{ github.actor != 'dependabot[bot]' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/github-script@v8
        id: node-version
        with:
          result-encoding: string
          script: |
            return await (await import('${{ github.workspace }}/.github/actions/dist/get-node-version.js')).default()
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: '${{ steps.node-version.outputs.result }}'
      - uses: actions/cache@v5
        id: npm-cache
        with:
          path: |
            ~/.npm
            node_modules
            **/node_modules
          key: ${{ runner.os }}-node-${{ steps.node-version.outputs.result}}-v7-${{ inputs.stage }}-${{ hashFiles('package-lock.json') }}-${{ hashFiles('**/package-lock.json') }}
      - run: |
          npm ci --ignore-scripts
          npm run patch-files
        if: steps.npm-cache.outputs.cache-hit != 'true'
      - name: check pr title
        run: |
          set -euo pipefail
          echo "${{ github.event.pull_request.title }}" | npx @commitlint/cli
